/*Theme colors*/

.bg-primary {
  background-color: #55d6c2;
}
.bg-secondary {
  background-color: #ff5d73;
}
.bg-light {
  background-color: #f8f0e6;
}
.bg-body {
  background-color: #fff8ef;
}

* {
  font-family: "Dosis", sans-serif;
  font-size: 1em;

}

section.row {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

html,
body {
  height: 100%;
  
}

body{
  overflow-x:hidden;
}

#navbar {
  width: 100%;
  margin-bottom: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1100;
  transition: box-shadow 0.3s ease-in-out;
  transition: top 0.3s;
}

li.socials {
width: 24px;
height: 24px;
margin:16px auto 16px auto;
padding: 16px auto 16px auto;
background-color: transparent;
list-style-type: none;
list-style: none;
}

a{
    color: #ff5d73;
}
a:hover{
    color: #ff5d73;
}

.ma5{
margin: auto 5%;
}

ul.technologies {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;

  }

  ul.technologies li::before {
    content: ">";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ff5d73; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.socials svg{
    height: 24px;
    width: 24px;
}
.socials svg:hover{
    fill:  #ff5d73;
    margin-bottom: 5px;
}


ul.socials {
    list-style-type: none;
    list-style: none;
}

.socials-left{
    width: 40px;
    position: fixed;
    left: -240px;
    bottom: 10px;
    transition: left 2s;
}

.socials-right{
    width: 40px;
    position: fixed;
    right: -240px;
    bottom: 10px;
    transition: right 2s;
    
}

div.email-right{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

a.email-right{
    writing-mode: vertical-lr;
    color: black;
}
a.email-right:hover{
    color:  #ff5d73;
}


#raymie{
  position: absolute;
  bottom: 9%;
  right:-25%;
  z-index: -2;
  transition: right 2s;
  transition-timing-function: cubic-bezier(0.25,0,.2,1.4);
  image-rendering: -webkit-optimize-contrast;
  
}


#about-info{
    font-size: 1.1rem;
}

.inner-vrule{
    margin: 16px auto 0px auto;
    width: 1px;
    padding: 0px;
    height: 100px;
    background-color: black;
    list-style-type: none;
}

.strike {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.strike > h1 {
  position: relative;
  display: inline-block;
}

.strike > h1:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 150%;
  height: 1px;
  background: #6c757d;
}

.strike > h1:before {
  right: 100%;
  margin-right: 15px;
}

.strike > h1:after {
  left: 100%;
  margin-left: 15px;
}

.btn-outline-primary {
  color: #ff5d73;
  border-color: #ff5d73;
}
.btn-outline-primary:hover {
  color: #ffffff;
  border-color: #ff5d73;
  background-color: #ff5d73;
}

.ls-8 {
  letter-spacing: 8px;
}

.ls-4 {
  letter-spacing: 3px;
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.wave {
  width: 100%;
  max-height: 640px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: block;
  transform-origin: bottom;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

#backwave{
  z-index: -3;
}

#coverwave {
  width: 100%;
}

#topwave {
  top: 100vh;
  bottom: inherit;
  transform-origin: top;
}



/*Fade in animation*/
#landing-info {
   -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}