/*Theme colors*/

.bg-primary{
    background-color: #55d6c2;
}
.bg-secondary{
    background-color: #ff5d73;
}
.bg-light{
    background-color: #f8f0e6;
}
.bg-body{
    background-color: #fff8ef;
}

*{
    font-family: 'Dosis', sans-serif; 
    scroll-behavior: smooth;
}

body{
    height:2000px;
}

#navbar{
    width: 79.5%;
    margin: auto;
    position: sticky;
    top:0px;
    left: 0px;
}

#landing-info{
    height: 100vh;

}

.btn-outline-primary{
    color: #ff5d73;
    border-color: #ff5d73;;
}
.btn-outline-primary:hover{
    color: #ffffff;
    border-color: #ff5d73;
    background-color: #ff5d73;
}

.ls-8{
    letter-spacing: 8px;
}

.ls-4{
    letter-spacing: 4px;
}

svg{
    width: 100%;
    max-height: 640px;
    position: absolute;
    bottom: 0;
    right:0;
    z-index: -1;
    
}

#coverwave{
    width: 100%;
}

#topwave{
    top: 100vh;
    bottom:inherit;
}


/*autohide nav on scroll*/
.scrolled-up{
    transform:translateY(0); transition: all 0.4s ease-in-out;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.4s ease-in-out;
}